.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* navbar design starts here */
.nav-logo{
    text-align: left;
    
}

.nav-heading h1{
    text-align: center;
}

.navbar-menu{
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-menu a{
    padding: 5px 10px;
    margin: 20px 0px;
    background-color: transparent;
}



/* profile design starts here */

.profile .top-weather-icon{
    
    right: 120px;
    top: 20px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .top-weather-icon:hover{
    width: 140px;

}

.profile-des p{
    color: rgb(231, 222, 222);
    margin: 0 auto ;
    text-align: center;
    width: 50%;
    margin-bottom: 20px;
}

.profile .bottom-weather-icon{
    bottom: 20px;
    left: 120px;
    width: 120px;
    transition: width 2s, transform 2s;
}

.profile .bottom-weather-icon:hover{
    width: 140px;

}

/* about me starts */

.aboutme-img{
    margin-top: 100px;

}
.aboutme-img img{
    height: 270px;
    width: 250px;
}


.about-des p{
    text-align: left;
}


/* proffesional ex starts */

.proffesional-ex{
    padding: 1% 5%;
}


/* achivement starts */

.achivement{
    padding-right: 50px;
}

.contact button{
    width: 150px;
}

.contact-links{
    position: relative;
}

.media-button{
    position: absolute;
    margin-top: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* footer starts from here */

.footer-menu{
    margin-top: 12px;

}
.footer-menu a{
    display: inline;
    margin: 10px;
    font-size: 1rem;

}