/*navbar start*/

*{
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
body{
    margin: 0;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}

a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}
p{
    font-size: 1.2rem;
    text-align: justify;
}

.dotted-hr{
    border: dotted 6px white;
    border-bottom:none ;
    margin: 20px auto;
    width: 120px;
}

[class*="col-"]{
    float: left;
    padding: 10px;
}

/* for mobile*/
[class*="col-"]{
    width: 100%;
}

.navbar{
    background-color: #000421;
    padding: 1% 7%;
    text-align: center;
}

.navbar h1{
    color: white;
    margin: 0;
    padding-top: 10px;
}

.navbar-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.navbar-menu a{
    background-color: #1c305e;
    border-radius: 15px;
    margin: 7px 0px;
    padding: 10px;
}

.navbar-menu a:hover{
    background-color: #DD1D53;
}
.navbar::after{
    content: "";
    display: table;
    clear: both;
}



/*profile starts*/
.profile{
    padding: 130px 10px;
    position: relative;
    text-align: center;
}

.profile .top-weather-icon{
    position: absolute;
    right: 20px;
    top: 10px;
    transition: transform 2s;
}

.profile .top-weather-icon:hover{
    transform: rotate(360deg);
}

.profile-des h1{
    font-family: 'Satisfy', cursive;
    color: white;
    font-size: 3rem;
}

.profile-des p{
    color: rgb(231, 222, 222);
    margin: 0 auto 20px auto;
    text-align: center;
    width: 90%;
    
}

.profile .bottom-weather-icon{
    position: absolute;
    left: 20px;
    bottom: 3px;
    transition: transform 2s;
}

.profile .bottom-weather-icon:hover{
    transform: rotate(360deg);
}

.profile::after{
    content: "";
    display: table;
    clear: both;
}

/* about me starts here */

.about-me{
    background-color: #0F1336;
    padding: 1% 7%;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.aboutme-img img{
    border: 5px solid white;
    border-radius: 50%;
    height: 220px;
    width: 200px;
}

.about-me p{
    text-align: center;
}

.about-me a{
    font-size: 1.2rem;
}

.cv-button{
    background-color: #5353ce;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}

.about-me::after{
    clear: both;
    display: table;
    content: "";
}



/* Proffesional ex starts */

.proffesional-ex{
    padding: 1% 0%;
}

.proffesional-ex .card{
    background-color: #6b87b0;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    height: 700px;
}

.card:hover{
    box-shadow: 0px 4px 8px 5px black;
}

.card-icon{
    text-align: center;
}

.card-icon img{
    margin: 20px;
    width: 100px;
}

.skills-container{
    padding-right: 45px;
}
.skills-container li{
    list-style: none;
    font-weight: bolder;
    margin: 30px 10px;
    position: relative;
    text-transform: uppercase;
}


.skills-container li::before{
    content: "";
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgb(86,86,153,.5);
    border-radius: 1000px;
}

.skills-container li::after{
    content: "";
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 0;
    height: 10px;
    background-color: rgb(45, 45, 135);
    border-radius: 1000px;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: none;
}

.skills-container li.html::after{
    animation-name: html;
}

@keyframes html{
    to{
        width: 90%;
    }
}

.skills-container li.css::after{
    animation-name: css;
}

@keyframes css{
    to{
        width: 80%;
    }
}

.skills-container li.bootstrap::after{
    animation-name: bootstrap;
}

@keyframes bootstrap{
    to{
        width: 40%;
    }
}

.skills-container li.js::after{
    animation-name: js;
}

@keyframes js{
    to{
        width: 20%;
    }
}

.skills-container li.jquery::after{
    animation-name: jquery;
}

@keyframes jquery{
    to{
        width: 25%;
    }
}

.skills-container li.node::after{
    animation-name: node;
}

@keyframes node{
    to{
        width: 30%;
    }
}

.skills-container li.express::after{
    animation-name: express;
}

@keyframes express{
    to{
        width: 40%;
    }
}

.skills-container li.github::after{
    animation-name: github;
}

@keyframes github{
    to{
        width: 60%;
    }
}

.skills-container li.react::after{
    animation-name: react;
}

@keyframes react{
    to{
        width: 70%;
    }
}

.proffesional-ex::after{
    clear: both;
    display: table;
    content: "";
}

.rounded-img{
    border: 5px solid white;
    border-radius: 50%;
    padding: 10px;
}

.card-title h2{
    background-color: #55439d;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

/* achievement contact starts */

.achivement-contact{
    padding: 1% 7%;
    background-color:#0F1336;
    color: white;
}

.contact{
    text-align: center;

}
.contact input, textarea{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: 10px;
    resize: none;
}

.contact button{
    border: none;
    border-radius: 5px;
    background-color:#DD1D53 ;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    width: 100px;
}

.contact-links{
    text-align: center;
}

.media-button .btn{
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 32px;
    padding: 5px;
    margin: 10px;
    width: 50px;
    background-color: white;
}

.btn:hover{
    background-color:rgb(48, 45, 45) ;
}

.achivement-contact::after{
    clear: both;
    display: table;
    content: "";
}

/* footer starts here */

.footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.8rem;

}

.footer-menu a{
    display: block;
    margin: 15px 0px;
    font-size: 1rem;
}

.footer-menu a:hover{
    color: #DD1D53;
}

.footer::after{
    display: table;
    content: "";
    clear: both;
}

